.ui-autocomplete-loading {
    background: white url("ui-anim_basic_16x16.gif") right center no-repeat !IMPORTANT;
 }
  
  
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 11px;
  margin: auto;
  padding-top: 11px;
  padding-left: 11px;
  position: relative;
}

input, textarea, select {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 11px;
	border: 1px solid #999;
	background: none;
}

input {
	padding: 2px;
}

button 
{
	background-color: #96ada7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	border: 1px solid #566963;
	color: #fff;
	cursor: pointer;
	font-family: arial;
	font-size: 12px;
	padding:2px 4px;
	text-decoration: none;
	text-shadow:0px 1px 0px #2b665e;
}

button:hover 
{
	background-color: #809090;
	box-shadow: 0px 0px 1px #777;		
}



input:focus, textarea:focus, select:focus {
  background   : rgba(0,0,0,.1);
  outline      : none;
}


a, u {
    text-decoration: none;
}

input.ouForm
{
	padding: 2px;
}

input.ouForm:disabled
{
	background-color: #fff; !important; /* #f2f2f2; */
}

input[type="image"]
{
	vertical-align: bottom;
}

/*----------------------------------------------------------------------------*/
/* Header Related                                                        */
/*----------------------------------------------------------------------------*/

#header {
	background-color: #467e4a;
	height: 44px;
	position: fixed;
	z-index: 10;
	top: 0px;
	left: 0px;
	right: 0px;
	box-shadow: 0 0 3px #222;
}

#headerBanner {
	position: absolute;
	top: 13px;
	left: 55px;
}

#headerText {
	position: absolute;
	top: 15px;
	left: 175px;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	font-family: LiberationSans, arial, sans-serif;
}

#headerRightSideControls {
	height: 20px;
	position: fixed;
	z-index: 11;
	top: 11px;
	right: 4px;
}


/*----------------------------------------------------------------------------*/
/* Button Related                                                        */
/*----------------------------------------------------------------------------*/

.redButton {
	background-color: #f49966; /*#f47744;*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#eeeeee;
	font-family:arial;
	font-size:12px;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.redButton:hover {
	background-color: #f65d4f; /*#c62d1f;*/
}
.redButton:active {
	position:relative;
	top:1px;
}

.grayButton {
	background-color: #96ada7; /*#768d87;*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.grayButton.smallButton {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-size:11px;
	padding:1px 3px;
}
.grayButton:hover {
	background-color: #809090; /*#6c7c7c;*/
}
.grayButton:active {
	position:relative;
	top:1px;
}

.steelBlueButton {
	background-color: #A0B4DE; /*#768d87;*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #8094AE;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.steelBlueButton:hover {
	background-color: #90A4CE; /*#6c7c7c;*/
}
.steelBlueButton:active {
	position:relative;
	top:1px;
}

.steelBlueButton.smallButton {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-size:11px;
	padding:2px 4px;
}

.toggleSection {
	background-color: #FFF; /*#768d87;*/
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #8094AE;
	display:inline-block;
	cursor:pointer;
	color: #999;
	font-family:arial;
	font-size:12px;
	padding:0px 0px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2b665e;
	text-align: center;
	width: 14px;
}
.toggleSection:hover {
	background-color: #D0E4FE; /*#6c7c7c;*/
}



.clearButton {
	background-color: #FFF; /*#768d87;*/
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #333;
	font-size:12px;
	padding:0px 0px;
	text-decoration: none;
	text-shadow: none;
	text-align: center;
	width: 14px;
}
.clearButton:hover {
	background-color: #D0E4FE; /*#6c7c7c;*/
}


.dimImgWHover {
	opacity: 0.4;
}

.dimImgWHover:hover {
	opacity: 1.0;
}

.dimImg {
	opacity: 0.4;
}

.hoverBold {
	font-weight: normal;
}

.hoverBold:hover {
	font-weight: bold;
}

.cpointer {
	cursor:pointer;
}

.myLoc {
	opacity: 0.7;
}
.myLoc:hover {
	opacity: 1.0;
}
.myLoc:active {
	border:1px solid RoyalBlue;
}


/*----------------------------------------------------------------------------*/
/* Map Related                                                         */
/*----------------------------------------------------------------------------*/

.controls {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}

#pac-input:focus {
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#target {
	width: 345px;
}

/*----------------------------------------------------------------------------*/
/* DragTable Ratled                                                        */
/*----------------------------------------------------------------------------*/

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.drag{
	background:#CCCCCC !important;
	color:#cCCCCC;
}


.dragtable-drag-handle{
	width: .6em;
	height: .8em;
	margin-right: 2px;
	float: left;
	background: #7aa6dc;
	opacity: 0.5;
}

.tablewrapper{
	position: relative;
	overflow: scroll;
	width: 400px;
	margin: 3em;
}
.tablewrapper table{
	width: 100%;
}


/*----------------------------------------------------------------------------*/
/* Security Setting Popup Form Related                                                          */
/*----------------------------------------------------------------------------*/

.sharingSettings {
  font-family: LiberationSans, arial, sans-serif;
  line-height: 140%;
}

.settingHeader {
  padding: 9px 0 6px 0;
  font-size: 12pt;
  color: #373737;
}

#sharingAccessTable {
  display: table;
  border-collapse: separate;
  /*border-spacing: 2px;*/
  border-color: gray;
}

#sharingAccessTable td {
  padding: 3px 0px;
}

.trAnybody td {
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}

.tipText {
  color: #777;
}

.inputStyle {
  line-height: 140%;
  padding: 1px;
}

.crossOutDisabled
{
	text-decoration: line-through;
	color: #888;
}

/*----------------------------------------------------------------------------*/
/* Message Related                                                           */
/*----------------------------------------------------------------------------*/

#divMsgArea
{
  padding: 5px;
  background-color: #eee;
  border: 1px solid #bbb;
  text-align: right;
  position: fixed;
  top: 50px;
  right: 10px;
  filter: alpha(opacity=85);
  opacity: 0.85;
  border-radius: 3px;
  z-index: 5;
}

#spanMsgAreaClose
{
  float:left;
  cursor:pointer;
  margin-right:5px;
}


.divNetworkListingMsgArea
{
  padding: 3px 12px 3px 8px;
  background-color: #E7E8FF;
  border: 1px solid #bbb;
  filter: alpha(opacity=85);
  /* opacity: 0.85; */
  border-radius: 4px;
}

/*----------------------------------------------------------------------------*/
/* Popup/Dialog Form Related                                                           */
/*----------------------------------------------------------------------------*/

.ui-autocomplete-loading 
{
	/*background: white url('../../img/ui-anim_basic.gif') right center no-repeat;*/
}

.noTitleStuff .ui-dialog-titlebar 
{
	display:none;
}

.noTitleClose .ui-dialog-titlebar-close
{
	display:none;
}

.ui-dialog-title,.ui-button-text {
	text-shadow: none;
	font-weight: normal;
}


/*.ui-dialog .ui-dialog-buttonpane button.ui-button.disableButton {
	border: 1px solid #CCC;
	color: #BBB !important;
	background: #F9F9F9 !important; 
}*/

.ui-dialog button.ui-button.disableButton {
	border: 1px solid #CCC;
	color: #BBB !important;
	background: #F9F9F9 !important; 
}


/*----------------------------------------------------------------------------*/
/* Others Related                                                        */
/*----------------------------------------------------------------------------*/

a.ouEdit:link, a.ouEdit:visited, a.ouEdit:active 
{
	color: BLACK;
}

a.ouEdit:hover
{
	font-weight: bold;
}

a.linkStyle
{
	color: #1E90FF;
	text-decoration: underline;
}


div.networkOU, div.networkChildOU
{
	cursor:pointer;
}

div.networkOU:hover
{
	color: #444444;
	/*font-weight: bold;*/
	text-decoration: underline;
}

div.networkChildOU:hover
{
	color: #5F5F5F;
	text-decoration: underline;
}


.groupDiv:hover
{
	color: #444444;
	font-style:italic;
	cursor:default;
}


div.divProviderAdd
{
	cursor: pointer;
	vertical-align: top; 
	margin-left: 4px; 
}

div.divProviderAdd:hover
{
	color: #5F5F5F;
	text-decoration: underline;
}

div.showTopLine
{
	border-top: 1px solid #d1d1d1;
	/*margin-top: 3px;
	padding-top: 3px; */
}



#orgUnitMapSmall {
	height: 80px;
	width: 120px;
}

.gmap3{
	width: 100%;
	height: 100%;
}


.pageTitle {
	font-size: 18px;
	color: #333333;
}

.blank {
	background: #FFF;
	border: 0px solid #FFF;
}

.valignTop {
	vertical-align: top;
}

.centerAlign
{
	text-align: center;
}



.input_button {
	color: #333333;
	padding:2px 4px; 
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #bcbcbc) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #bcbcbc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#bcbcbc');
	background:#cccccc; 
	border:1px solid #9c9c9c;
	cursor:pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.input_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bcbcbc), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #bcbcbc 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbcbc', endColorstr='#cccccc');
	background-color:#bcbcbc;
}
.input_button:active {
	position:relative;
	top:1px;
}
.input_button[disabled]:active {
	position:relative;
	top:0px;
}
.input_button:disabled {
	background:#e3e3e3;
	color: #999999;
}



.input_button_round {
	color: #333333;
	padding:1px 4px; 
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b0c4de), color-stop(1, #a0b4ce) );
	background:-moz-linear-gradient( center top, #b0c4de 5%, #a0b4ce 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0c4de', endColorstr='#a0b4ce');
	background:#b0c4de; 
	border:1px solid #9c9c9c;
	cursor:pointer;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}
.input_button_round:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a0b4ce), color-stop(1, #b0c4de) );
	background:-moz-linear-gradient( center top, #a0b4ce 5%, #b0c4de 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0b4ce', endColorstr='#b0c4de');
	background-color:#a0b4ce;
}
.input_button_round:active {
	position:relative;
	top:1px;
}
.input_button_round[disabled]:active {
	position:relative;
	top:0px;
}
.input_button_round:disabled {
	background:#e3e3e3;
	color: #999999;
}


/*----------------------------------------------------------------------------*/
/* Table Related                                                        */
/*----------------------------------------------------------------------------*/

.listTable
{
	font-size: 11px;
	background: #fff;
	width: 100%;
	/*margin: 10px;*/
	border-collapse: collapse;
	text-align: left;
}

.listTable.alternateColor tbody tr:nth-child(odd) 
{
	background: #f9f9f9;
}

.listTable.alternateColor tbody tr:nth-child(even) 
{
	background: #fff;
}

.listTable th
{
	font-size: 12px;
	font-weight: bold;
	color: Black;
	padding: 5px 4px;
	border-bottom: 1px solid Black;
}

.listTable tbody td
{
	border: 1px solid #ccc;
	/* border-bottom-style: none; */
	color: Black; /*#669; */
	padding: 6px; /* 6px 6px; */
}

.listTable tfoot td
{
	border-style: none;
	border-top: 1px solid Black;
	padding: 8px 4px;
}


.listTable0
{
	background: #fff;
	border-collapse: collapse;
	text-align: left;
}

.listTable0 tbody tr:nth-child(odd) 
{
	background: #f9f9f9;
}

.listTable0 tbody tr:nth-child(even) 
{
	background: #fff;
}

.listTable0 th
{
	font-size: 12px;
	font-weight: bold;
	color: Black;
	padding: 5px 4px;
	border-bottom: 1px solid Black;
}

.listTable0 tbody td
{
	border: 1px solid #ccc;
	color: Black; /*#669; */
	padding: 6px; /* 6px 6px; */
}




.dataListTable
{
	font-size: 11px;
	background: #fff;
	width: 100%;
	/*margin: 10px;*/
	border-collapse: collapse;
	text-align: left;

 	/*box-shadow: 0px 0px 15px rgba(0,0,0,0.10),
     0px 10px 15px rgba(0,0,0,0.05);*/
}

.dataListTable.alternateColor tbody tr:nth-child(odd) 
{
	background: #f9f9f9;
}

.dataListTable.alternateColor tbody tr:nth-child(even) 
{
	background: #fff;
}

.dataListTable th
{
	font-size: 12px;
	font-weight: bold;
	color: Black;
	padding: 5px 4px;
	border-bottom: 1px solid Black;
}

.dataListTable tbody td
{
	border: 1px solid #ccc;
	color: Black; /*#669; */
	padding: 0px; /* 6px 6px; */
}

div.content {
	padding: 5px;
}

div.content2 {
	padding: 2px 4px;	
	/*padding: 2px 6px;*/
}



.listTable_OuEdit
{
	font-size: 11px;
	background: #fff;
	border-collapse: collapse;
	text-align: left;
}

.listTable_OuEdit th
{
	font-size: 12px;
	font-weight: bold;
	color: Black;
	padding: 5px 4px;
	border-bottom: 1px solid Black;
}
/*
.listTable_OuEdit tr:nth-child(odd)
{
	background: #f9f9f9;
}

.listTable_OuEdit tr:nth-child(even)
{
	background: #fff;
}
*/
.listTable_OuEdit td
{
	border: 1px solid #ccc;
	color: Black; /*#669; */
	padding: 4px; /* 6px 6px; */
}

.listTable_OuEdit tfoot td
{
	border-style: none;
	border-top: 1px solid Black;
	padding: 4px 4px;
}



.listTable_D1
{
	font-size: 11px;
	background: #fff;
	border-collapse: collapse;
	text-align: left;
}

.listTable_D1 th
{
	border: 1px solid #8094AE;
	font-weight: bold;
	color: #336;
	background-color: #A0B4CE;
	padding: 5px 4px;
}

.listTable_D1 tbody td
{
	border: 1px solid #8094AE;
	color: #224;
	padding: 4px;
}

.listTable_D1 tbody td.settingNameTd
{
	border: 1px solid #8094AE;
	color: #555;
	padding: 4px;
	background-color: #fafafa;
	font-weight: bold;
}

.tblNetworkSetting
{
	font-size: 12px !IMPORTANT;
}

/* tbPadding2 Table */
.tbPadding2
{
	margin: 0px;
	border: none;
	border-spacing:0px;
	padding:0px;
}
.tbPadding2 th
{
	border: 1px solid #8094AE;
	color: #333;
	font-weight: normal;
	background-color: #86b5d9; /*#eaf5fe;*/ /*#86b5d9;*/
	padding: 2px 2px;
}
.tbPadding2 tbody td
{
	margin: 0px;
	border: none;
	border-spacing:0px;
	padding:2px;
}


/* tbPadding3 Table */
.tbPadding3
{
	margin: 0px;
	border: none;
	border-spacing:0px;
	padding:0px;
}
.tbPadding3 th
{
	border: 1px solid #8094AE;
	color: #333;
	font-weight: normal;
	background-color: #86b5d9; /*#eaf5fe;*/ /*#86b5d9;*/
	padding: 2px 2px;
}
.tbPadding3 tbody td
{
	margin: 0px;
	border: 1px solid #8094AE;
	border-spacing:0px;
	padding: 5px;
}

.tbPadding4
{
	margin: 0px;
	border: none;
	border-spacing:0px;
	padding:0px;
}
.tbPadding4 th
{
	border: 1px solid #8094AE;
	color: #333;
	font-weight: normal;
	background-color: #86b5d9; /*#eaf5fe;*/ /*#86b5d9;*/
	padding: 2px 2px;
}
.tbPadding4 tbody td
{
	margin: 0px;
	border: none;
	border-spacing:0px;
	padding: 5px;
}



.listTable_viewColumn
{
	font-size: 12px;
	background: #fff;
	border-collapse: collapse;
	text-align: left;
}

.listTable_viewColumn th
{
	border: 1px solid #8094AE;
	font-weight: bold;
	color: #336;
	background-color: #A0B4CE;
	padding: 3px;
}

.listTable_viewColumn tbody td
{
	border: 1px solid #8094AE;
	color: #224;
	padding: 2px 4px;
}

.listTable_viewColumn select
{
	background-color: White;
}


.trDataNew
{
	font-size: 12px;
}

.dragHandle
{
	width: 4px;
}


.tbStyle
{
	font-size: 11px;
	background: #fff;
	margin: 10px;
	border-collapse: collapse;
	text-align: left;
}
.tbStyle th
{
	font-size: 11px;
	font-weight: bold;
	color: #585858;
	padding: 5px 4px;
	border-bottom: 2px solid #585858;
}
.tbStyle td
{
	border: 1px solid #ccc;
	color: #669;
	padding: 3px 4px;
}
.tbStyle tr:hover td
{
	color: #009;
}

.tbStyleTitle
{
	font-size: 11px;
	background: #fff;
	margin: 10px;
	border-collapse: collapse;
	text-align: left;
}

.tbBorder
{
	font-size: 11px;
	margin: 5px 5px 1px 5px;
	border-spacing:5px 5px 1px 5px;
	border: 1px solid #585858;
	text-align: left;
}

.tbBorderNone
{
	border-spacing: 0px;
	border: 0px solid #585858;
	text-align: left;
}

.tbFit
{
	margin: 0px;
	border-spacing: 0px;	
}


/* tbNone Table */
.tbNone
{
	margin: 0px;
	border: none;
	border-spacing:0px;
	padding:0px;
}
.tbNone td
{
	margin: 0px;
	border: none;
	border-spacing:0px;
	padding:0px;	
}
.tbNone tbody td
{
	margin: 0px;
	border: none;
	border-spacing:0px;
	padding:0px;	
}

/* tbStyle Table */
.tbStyle th
{
	font-size: 11px;
	font-weight: bold;
	color: #585858;
	padding: 5px 4px;
	border-bottom: 2px solid #585858;
}

.dvStyle_Person
{
	font-size: 11px;
	background: #fff;
	margin-left: 15px;
	/*border-collapse: collapse;*/
	text-align: left;
}

.tbStyle_Person
{
	font-size: 11px;
	background: #fff;
	/*margin: 10px; */
	border-collapse: collapse;
	text-align: left;
}
.tbStyle_Person th
{
	font-size: 11px;
	font-weight: bold;
	color: #333333; /*#585858;*/
	background: #95B3D7;
	padding: 3px 3px;
	border: 1px solid #999999;
	white-space: nowrap;
}
.tbStyle_Person td
{
	border: 1px solid #ccc;
	color: #669;
	padding: 2px 3px;
}

.tbStyle_Person tr.trPerson /*td.tdPersonInfo*/
{
	background-color: #F0F7FD; /*AliceBlue; */
}

.tbStyle_Person td.tdPersonInfo input
{
	background-color: #FFF;
}

.tbStyle_Person tr:hover td
{
	color: #009;
}

.tbStyle_PersonDetail
{
	font-size: 11px;
	background: #fff;
	margin-left: 20px;
	border-collapse: collapse;
	text-align: left;
}

.tbStyle_PersonDetail th
{
	font-size: 11px;
	font-weight: bold;
	color: #585858;
	background: #BDDBFF;
	padding: 1px 1px;
	border: 1px solid #999999;
}

.tbStyle_PersonDetail td
{
	border: 1px solid #ccc;
	color: #669;
	padding: 3px 4px;
}
.tbStyle_PersonDetail tr:hover td
{
	color: #009;
}

.divReadOnly
{
	color: black;
	margin: 2px 1px;
	padding: 2px 2px;
	white-space: nowrap;
	display: none;
	border: 1px solid #999999;
}
.divReadOnly:hover
{
	color: black;
}

.mandatory
{
	color: red;
}

.tbNone11
{
	margin: 0px;
	border-spacing:0px;
	border: 0px solid white;
	text-align: left;
	padding:0px;
}

.tbNone11 td
{
	margin: 0px;
	border-spacing:0px;
	border: 0px solid white;
	text-align: left;
	padding:0px;
}


/* ------ Content Display Style Related ------ */

.consoleTitle 
{
	font-weight: bold;
	padding-left:3px;
	padding-right:5px;
	white-space: nowrap;
}

input.inputWhite
{
	background: #FFF;
	background-color: #FFF;
}

.tbLanguage td
{
	vertical-align: top;
}

.waitRow
{
	opacity: 0.4;
	background-color: white;
	background-image: url("../../img/ui-anim_basic.gif");
	background-repeat: no-repeat;
	background-position: center center;
}

img
{
	border: 0px;
}

.required {
    font-style: normal;
    color: #ff0000;
}

div.childDiv 
{
	min-height: 21px;
}

/* ------ DropDown with no Arrow ------ */

.divNoArrow {
  display: inline-block;
  border: 1px solid #999;
  overflow: hidden;
  padding: 0px;
  border-spacing: 0px;
  height: 16px;
  margin-top: 3px;
}

.divNoArrow select {
  margin-right: -1.40em; 
  margin-left: -1px;
  border: none;
}


/* ------ Tabbing ------ */

.tabAnchor
{
	font-weight: normal;
}

div.networkSettingTab
{
    min-height: 100px;
}

.tabStyle_Simple.ui-tabs {
    border:none;
}
.tabStyle_Simple.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 4px 7px;
}
.tabStyle_Simple .ui-widget-header {
    border:none;
    background: #FFF;
}
.tabStyle_Simple.ui-tabs .ui-tabs-panel {
    display: block;
    clear: both;
    border: 1px #ccc solid;
    padding: 10px;
    width:auto;
}

.tabStyle_Simple .ui-corner-top {
    border-radius:0px;
}
.tabStyle_Simple .ui-corner-bottom {
    border-radius:0px;
}


/* ------ context-menu ------ */

.context-menu {
	cursor: pointer;	
}

.context-menu:hover {
	background-color: #EAF7FE; /* #DBF2FC;  /* #bee8fc; */
}

.error
{
	color: red;
}



/*----------------------------------------------------------------------------*/
/* Organisation Unit Web Tree                                                 */
/*----------------------------------------------------------------------------*/

div#orgUnitTree 
{
  font-size: 9pt;
  padding-top: 4px;
}

div#orgUnitTree 
{
  font-size: 9pt;
  background-color: white;
  overflow: auto;
  width: 235px;
  height: 300px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

div#orgUnitTree ul 
{
  margin: 0;
  padding: 0;
}

div#orgUnitTree ul li:last-child 
{
  background-position: 0pt -1766px;
}

div#orgUnitTree li 
{
  list-style-type: none;
  white-space: nowrap;
  margin-top: 0;
  padding: 0 0 1px 15px;
  background-color: transparent;
  background-image: url('../../images/treeview-gray-line.gif');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0pt 0pt;
}

div#orgUnitTree span.toggle 
{
  margin-left: -12px;
  cursor: pointer;
}

div#orgUnitTree a 
{
  display: inline;
  border: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

div#orgUnitTree a:hover 
{
  color: #555;
  background-color: #fff;
}

div#orgUnitTree a.selected 
{
  color: orange !important;
  font-weight: bold;
}

/*----------------------------------------------------------------------------*/
/* Organisation Unit Selection Tree                                           */
/*----------------------------------------------------------------------------*/

div#selectionTree 
{
  font-size: 9pt; /* Size to change */
  background-color: white;
  /*height: 300px;*/
  width: 493px;  
  overflow: auto;
  /*border: 1px solid #ccc; */
  padding: 4px 0 0 5px;
}

div#selectionTree ul 
{
  margin: 0px;
  padding: 0px;
}

div#selectionTree>ul 
{
  margin-left: 0em;
}


div#selectionTree li 
{
  list-style-type: none;
  white-space: nowrap; /* Makes list items never wrap */
  padding-left: 15px; 
}

div#selectionTree span.toggle 
{
  font-family: courier new, monospace;
  font-size: 9pt; /* Size to change */
  cursor: pointer;
}

div#selectionTree a 
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div#selectionTree a:hover 
{
  color: #808080;
}

div#selectionTree a.selected 
{
    color: orange !important;
    font-weight: bold;
}

div#selectionTree a.locked 
{
  color: green;
}


#divMsgArea
{
  padding: 5px;
  background-color: #eee;
  border: 1px solid #bbb;
  text-align: right;
  position: fixed;
  top: 50px;
  right: 10px;
  filter: alpha(opacity=85);
  opacity: 0.85;
  border-radius: 3px;
  z-index: 5;
}

#spanMsgAreaClose
{
  float:left;
  cursor:pointer;
  margin-right:5px;
}


/*----------------------------------------------------------------------------*/
/* View - OrgUnit Search Switching Related                                           */
/*----------------------------------------------------------------------------*/

.switchSection_Off
{
	border: 1px solid #AAA !IMPORTANT;
	background-color: #EEE !IMPORTANT;
	cursor: pointer;
}

.switchSection_Off:hover
{
	font-weight: bold;
	background-color: #F7FBFF !IMPORTANT;
}

.divSectionTitle
{
	font-weight: bold;
	font-size: 12px;
	color: #444;
}

.divSectionTitle_Off
{
	font-weight: normal;
	font-size: 12px;
	color: #999;
}

.divSectionTitle_Off:hover
{
	font-weight: bold;
	color: #444;
}

/*----------------------------------------------------------------------------*/
/* Other Page Css                                          */
/*----------------------------------------------------------------------------*/

.scriptTooltipNote {
	font-weight: bold;
	color: darkslategray;
	cursor: pointer;
	margin: 4px 0px;
}